package layouts

import "github.com/iankencruz/threefive/templates/lib"

templ BaseLayout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		@lib.Header(title, false)
		<body class="antialiased">
			<!-- Toast Container for notifications -->
			<div id="toast-container"></div>
			<!-- Main Content -->
			{ children... }
		</body>
	</html>
}
