
package layouts

templ BaseLayout(title string, children templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>{ title }</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script src="https://unpkg.com/htmx.org@1.9.2"></script>
			<link href="/static/css/output.css" rel="stylesheet"/>
		</head>
		<body class="bg-white text-gray-900">
			@children
		</body>
	</html>
}
