
package pages

import "github.com/iankencruz/threefive/internal/templates/data"

templ HomePage(data data.HomeData) {
	<div hx-boost="true" class="p-4">
		<h1 class="text-3xl font-bold">Welcome to ThreeFive</h1>
		<p class="mt-2 text-gray-600">A platform for curated creative storytelling.</p>
	</div>
}
