package pages

import "github.com/iankencruz/threefive/backend/ui/layouts"
import "github.com/iankencruz/threefive/backend/internal/core/viewdata"

templ ContactPage(data viewdata.ContactPageData) {
	@layouts.BaseLayout(data.Title) {
		<div>
			<h1 class="text-4xl font-bold">Contact Page</h1>
			<p>{ data.ContactEmail }</p>
		</div>
	}
}
